{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <style>
    </style>
</head>
<body>
    <button class="login-btn" onclick="redirectToLoginPage()">Войти</button>
    <div class="container">
        <h2>Регистрация</h2>
        <form id="register-form" action="{% url 'authentication:register' %}" method="post">
        {% csrf_token %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            <div class="form-group">
                <label for="id_first_name">{{ form.first_name.label }}</label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    <ul>
                        {% for error in form.first_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_last_name">{{ form.last_name.label }}</label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    <ul>
                        {% for error in form.last_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_email">{{ form.email.label }}</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <ul>
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_group">Группа:</label>
                {{ form.group }}
                {% if form.group.errors %}
                    <ul>
                        {% for error in form.group.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_password1">{{ form.password1.label }}</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <ul>
                        {% for error in form.password1.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_password2">{{ form.password2.label }}</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <ul>
                        {% for error in form.password2.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <input type="submit" value="Зарегистрироваться">
            </div>
            <div id="error-message"></div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function redirectToLoginPage() {
            window.location.href = '{% url "authentication:login" %}';
        }
    </script>
    <script>
    $(document).ready(function() {
        $('#register-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "authentication:register" %}',
                data: $(this).serialize(),
                success: function(data) {
                    // Handle success response
                    console.log('Registration successful!');
                },
                error: function(xhr, status, error) {
                    // Handle error response
                    var errorMessage = xhr.responseText;
                    $('#error-message').text(errorMessage);
                }
            });
        });
    });
    </script>
</body>
</html>
